.modalHealth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modalHealth {
  position: fixed;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border: 1px solid #BDBDBD;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

#btnClose {
  font-size: 40px;
  font-weight: initial;
  margin-top: -10px;
  margin-left: 210px;
  color: #BDBDBD; 
  cursor: pointer;
}

input[id="add"]+label, input[id="add_after"]+label, #later {
  display: inline-block;
  width: 180px;
  height: 60px;
  margin-left: 35px;
  border: 1px solid #BDBDBD;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
}

input[id="add"], input[id="add_after"] {
  display: none;
}

input[id="add"]+label {
  margin-top: 20px;
  color: white;
  background: #BDBDBD;
}

input[name="add_after"]+label {
  margin-top: 20px;
  color: white;
  background: #56ADB4;
}

#later {
  margin-top: 10px;
  background: white;
  color: black;
}

